##homework1 - web acrapping

In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
from tabulate import tabulate
from IPython.display import display, HTML

# specify the url
from ipython_genutils.py3compat import xrange
from tabulate import tabulate
import pandas as pd

###Ex1: Scraping the list of films Gal Gadot participated in from Wikipedia sorted by date and Presenting a readable table with the following fields per film: year, title, role and director(s).

Open Gal Gadot's Wikipedia page and Read it, using BeautifulSoup:

In [2]:
wiki = "https://en.wikipedia.org/wiki/Gal_Gadot"
page = urlopen(wiki)
soup = BeautifulSoup(page, "html.parser")

finding the films table:

In [3]:
right_table = soup.find('table', class_='wikitable sortable')

creating a DataFrame in order to display the films table:

In [4]:
tmp = right_table.find_all('tr')
first_row = tmp[0]
rows = tmp[1:]
headers = []

# finding the header of the table
for header in first_row.find_all('th'):
    headers.append(header.get_text())

table = [[data.get_text() for data in row.find_all('td')] for row in rows]

row_span = []

# inserting the rows with the row span value
for row_no, row_tr in enumerate(rows):
    for cell_no, content in enumerate(row_tr.find_all('td')):
        if content.has_attr("rowspan"):
            row_span.append((row_no, cell_no, int(content["rowspan"]), content.get_text()))

if row_span:
    for i in row_span:
        span = i[2]
        row = i[0]
        cell = i[1]
        text = i[3]
        # inserting the text to the right row & column
        for j in xrange(1, span):
            table[row + j].insert(cell, text)

df = pd.DataFrame(data=table, columns=headers)
df = df.ix[:, 0:4]
display(df)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,Year,Title,Role,Director(s)
0,2009\n,Fast & Furious\n,Gisele Yashar\n,Justin Lin\n
1,2010\n,Date Night\n,Natanya\n,Shawn Levy\n
2,2010\n,Knight and Day\n,Naomi\n,James Mangold\n
3,2011\n,Fast Five\n,Gisele Yashar\n,Justin Lin\n
4,2013\n,Fast & Furious 6\n,Gisele Yashar\n,Justin Lin\n
5,2014\n,Kicking Out Shoshana\n,Mirit Ben Harush\n,Shay Kanot\n
6,2015\n,Furious 7\n,Gisele Yashar\n,James Wan\n
7,2016\n,Triple 9\n,Elena Vlaslov\n,John Hillcoat\n
8,2016\n,Batman v Superman: Dawn of Justice\n,Diana Prince / Wonder Woman\n,Zack Snyder\n
9,2016\n,Criminal\n,Jill Pope\n,Ariel Vromen\n
10,2016\n,Keeping Up with the Joneses\n,Natalie Jones\n,Greg Mottola\n
11,2017\n,Wonder Woman\n,Diana Prince / Wonder Woman\n,Patty Jenkins\n
12,2017\n,Justice League\n,Diana Prince / Wonder Woman\n,Zack Snyder\n
13,2018\n,Ralph Breaks the Internet\n,Shank (voice)\n,Rich MoorePhil Johnston\n
14,2020\n,Wonder Woman 1984\n,Diana Prince / Wonder Woman\n,Patty Jenkins\n

Question 2:

Scraping and saving the table of films Gal Gadot participated in from Wikipedia

In [5]:
import re
from collections import OrderedDict

wiki = "https://en.wikipedia.org/wiki/Gal_Gadot"
page = urlopen(wiki)
soup = BeautifulSoup(page, "html.parser")

soup = soup.find(id="Film")
movies_table = soup.findNext('table', class_='wikitable sortable')
actors_list = []

going throw all co-stars in any movie GalGadot participated in and collecting all needed information

In [6]:
# The main loop itarates all the movies, and filst the cast list of each movie
for row in movies_table.find_all("tr"):
    cells = row.find_all("td")
    if not cells:
        continue
    url = row.find(href=True)['href']
    movie_page = urlopen("https://en.wikipedia.org" + url)
    movie_soup = BeautifulSoup(movie_page, "html.parser")
    cast_tags = movie_soup.find_all("span", id=re.compile(".*cast.*", re.IGNORECASE))
    if not cast_tags:
        continue
    actors = (movie_soup.find(id=re.compile(".*cast.*", re.IGNORECASE)).parent).find_next('ul')

    # this loop, find all the actors
    # for each actor, we find the actors name and actor's page
    # for each actor page, we find the details: country of birth (country), year_of_birth and number of awards
    while actors != None:
        li_number = 0
        for actor_tag in actors.select("li"):
            li_number = li_number + 1;
            birth_country = ""
            birth_year = ""
            awards = 0
            birth_details = ""
            actor_info = ""
            # in case that there is name, with no actor's page (no extra details)
            if not actor_tag.find("a"):
                co_actor_dict = OrderedDict([("Name", re.split("as", actor_tag.text)[0]),
                                             ("Year of Birth", ""),
                                             ("Country of Birth", ""),
                                             ("No. of Awards", 0)])
                actors_list.append(co_actor_dict)
                continue
            try:
                if (actor_tag.find("a").text == "Gal Gadot"):
                    continue
            except:
                continue
            try:
                # in case that the name exist in the dictionary, we will not insert it again
                co_actor_name = actor_tag.find("a").text
                try:
                    if (df["Name"].str.contains(co_actor_name).any()):
                        continue
                except:
                    pass
                actor_page = urlopen("https://en.wikipedia.org/" + actor_tag.find("a")['href'])
                actor_page__soup = BeautifulSoup(actor_page, "html.parser")
                actor_info = pd.read_html(str(actor_page__soup.find("table", class_=re.compile(".*infobox.*"))))[0]
            except:
                pass
            try:
                # finds the actor's birth details
                birth_details = (actor_info.loc[actor_info.loc[:, 0] == "Born"].loc[:, 1]).values[0]
                actor_info = actor_info.set_index(actor_info.columns[1])

            except:
                try:
                    birth_details = (actor_info.loc[actor_info.loc[:, 0] == "Born:"].loc[:, 1]).values[0]
                except:
                    pass
                pass
            try:
                # finds the actor's birth coutry ans year of birth
                birth_country = re.split(r'[(,;)]+', birth_details)[-1]
                if all(c.isdigit() for c in birth_country):
                    birth_country = "";

                birth_year = re.findall("\d{4}", birth_details)[0].strip()
            except:
                pass
            try:
                actor_birthday = "";
                if birth_year == "":
                    actor_birthday = actor_page__soup.find(class_="bday").text;
                    birth_year = re.split("-", actor_birthday)[0];
            except:
                pass
            try:
                # finds the actor's award table at the actors page
                a = actor_page__soup.find(id=re.compile(".*Awards.*", re.IGNORECASE))
                award_table = a.findNext('table')
                while (award_table != None):
                    awards = awards + len(award_table.find_all(class_="yes table-yes2"))
                    award_table = award_table.findNext('table')
            except:
                pass
            # in case that there is no awards table at the actors page, we wiil fuk the actor's award table at the actors
            # awards page: in the awards table or at the infobox of the aeards
            if (awards == 0):
                try:
                    award_url = actor_page__soup.find_all('a',
                                                          href=re.compile(
                                                              ".*/wiki/list_of_Awards_and_nominations.*",
                                                              re.IGNORECASE))
                    awards_page = urlopen("https://en.wikipedia.org" + award_url[0].get("href"))
                    awards_soup = BeautifulSoup(awards_page, "html.parser")
                    try:
                        if (awards == 0):
                            try:
                                awards_info = pd.read_html(str(awards_soup.find("table", class_="infobox")))[0]
                                awards = (awards_info.loc[awards_info.loc[:, 0] == "Awards won"].loc[:, 1]).values[
                                    0]
                            except:
                                pass
                        if (awards == 0):
                            a = awards_soup.find(id=re.compile(".*Awards.*", re.IGNORECASE))
                            award_table = a.findNext('table')
                            while (award_table != None):
                                awards = awards + len(award_table.find_all(text="Won"))
                                if (len(award_table.find_all(text="Won")) == 0):
                                    awards = awards + len(award_table.find_all(text="Won\n"))
                                award_table = award_table.findNext('table')

                    except:
                        pass
                except:
                    pass

            co_actor_dict = OrderedDict([("Name", co_actor_name),
                                         ("Year of Birth", birth_year),
                                         ("Country of Birth", birth_country),
                                         ("No. of Awards", awards)])

            actors_list.append(co_actor_dict)
            df = pd.DataFrame(actors_list)
        try:
            p = actors.find_next('dl')
            if (li_number == 1 and len(actors.find_next('ul').select('li')) == 1):
                actors = actors.find_next('ul')
            else:
                actors = None
        except:
            actors = None

df = pd.DataFrame(actors_list)

pd.set_option('display.max_rows', 350)

display (df)

,Name,Year of Birth,Country of Birth,No. of Awards
0,Vin Diesel,1967,U.S.,9
1,Paul Walker,1973,U.S.,3
2,Michelle Rodríguez,1978,United States,7
3,Jordana Brewster,1980,Panama,1
4,John Ortiz,1969,U.S.,0
5,Laz Alonso,1974,U.S.,0
6,Jack Conley,1958,U.S.,0
7,Shea Whigham,1969,U.S.,0
8,Tego Calderón,1972,U.S.,3
9,Don Omar,1978,U.S.,20
10,Sung Kang,1972,U.S.,0
11,Liza Lapira,1981,U.S.,0
12,Mirtha Michelle,1984,U.S.,0
13,Greg Cipes,1980,U.S.,0
14,Ron Yuan,1973,US,0
15,Neil Brown Jr.,1980,Florida,0
16,Wilmer Calderon,1980,,0
17,Brandon T. Jackson,1984,U.S.,0
18,Mousa Kraish,1975,New York,0
19,Alejandro Patino,,,0
20,Greg Collins,1952,Michigan,0
21,Steve Carell,1962,U.S.,24
22,Tina Fey,1970,U.S.,38
23,Mark Wahlberg,1971,U.S.,7
24,Taraji P. Henson,1970,U.S.,29
25,William Fichtner,1956,U.S.,0
26,James Franco,1978,California U.S.,38
27,Mila Kunis,1983,,6
28,Mark Ruffalo,1967,U.S.,20
29,Kristen Wiig,1973,U.S.,2
30,Common,1972,U.S.,21
31,Jimmi Simpson,1975,U.S.,2
32,Bill Burr,1968,U.S.,0
33,Leighton Meester,1986,U.S.,3
34,Olivia Munn,1980,U.S.,0
35,J. B. Smoove,1964,U.S.,0
36,Michelle Galdenzi,1987,,0
37,will.i.am,1975,U.S.[1],7
38,Nick Kroll,1978,U.S.,0
39,Max Charles,2003,U.S.,0
40,Jon Bernthal,1976,U.S.,0
41,Ray Liotta,1954,U.S.,0
42,Tom Cruise,1962,U.S.,20
43,Cameron Diaz,1972,U.S.,29
44,Peter Sarsgaard,1971,U.S.,11
45,Jordi Mollà,1968,Spain,0
46,Viola Davis,1965,U.S.,94
47,Paul Dano,1984,U.S.,0
48,Falk Hentschel,1985,East Germany,0
49,Marc Blucas,1972,U.S.,0
50,Lennie Loftin,,,0
51,Maggie Grace,1983,U.S.,0
52,Rich Manley,,,0
53,Dale Dye,1944,U.S.,0
54,Celia Weston,1951,U.S.,0
55,Jack O'Connell,1990,England,0
56,Tyrese Gibson,1978,U.S.,3
57,"Chris ""Ludacris"" Bridges",1977,US,17
58,Matt Schulze,1972,U.S.,0
59,Dwayne Johnson,1972,U.S.,0
60,Joaquim de Almeida,1957,Portugal,7
61,Elsa Pataky,1976,Spain,0
62,Michelle Rodriguez,1978,United States,7
63,Luke Evans,1979,Wales,1
64,Gina Carano,1982,U.S.,0
65,David Ajala,1986,England,0
66,Kim Kold,1965,Denmark,0
67,Thure Lindhardt,1974,Denmark,0
68,Joe Taslim,1981,Indonesia,4
69,Clara Paget,1988,England,0
70,Benjamin Davies,1980,Scotland,0
71,Rita Ora,1990,SFR Yugoslavia,18
72,Jason Statham,1967,England,0
73,Oshri Cohen,1984,Israel,1
74,Eli Finish,1975,Israel,0
75,Mariano Idelman,1974,Argentina,0
76,Yossi Marshek,,,0
77,Yaniv Biton,,,0
78,Rotem Keinan,,,0
79,Einat Weitzman,,,0
80,Shirly Spikes,,,0
81,Cody Walker,1988,U.S.,0
82,Djimon Hounsou,1964,,6
83,Tony Jaa,1976,Thailand,4
84,Ronda Rousey,1987,U.S.,0
85,Nathalie Emmanuel,1989,England,0
86,Kurt Russell,1951,U.S.,0
87,Lucas Black,1982,U.S.,3
88,Noel Gugliemi,,Noel Albert Gugliemi,0
89,John Brotherton,1980,U.S.,0
90,Ali Fazal,1986,India,0
91,Iggy Azalea,1990,Australia,55
92,Bow Wow,1987,U.S.,0
93,Casey Affleck,1975,U.S.,26
94,Anthony Mackie,1978,U.S.,0
95,Chiwetel Ejiofor,1977,England,51
96,Clifton Collins Jr.,1970,U.S.,0
97,Woody Harrelson,1961,U.S.,14
98,Aaron Paul,1979,U.S.,10
99,Kate Winslet,1975,England,71
100,Norman Reedus,1969,U.S.,5
101,Teresa Palmer,1986,Australia,2
102,Michael K. Williams,1966,U.S.,0
103,Michelle Ang,1983,New Zealand,0
104,Terence Rosemore,,,0
105,Terri Abney,,,0
106,Alexandr Babara,,,0
107,Anthony Belevtsov,,,0
108,Luis Dasilva,1982,U.S.,0
109,Ian C,,,0
110,E. Roger Mitchell,,,0
111,Blake McLennan,,,0
112,Michael Harding,,,0
113,Labrandon Shead,,,0
114,Armando Alonzo,,,0
115,Karen Kaia Livers,,,0
116,Jon Eyez,,,0
117,Carlos Alcaine,,,0
118,Kurt Yaeger,1977,California,0
119,Christina Simonds,,,0
120,Igor Komar,,,0
121,Ben Affleck,1972,U.S.,55
122,Henry Cavill,1983,Jersey,2
123,Amy Adams,1974,Italy,35
124,Jesse Eisenberg,1983,U.S.,23
125,Diane Lane,1965,U.S.,10
126,Laurence Fishburne,1961,U.S.,12
127,Jeremy Irons,1948,England,0
128,Holly Hunter,1958,U.S.,29
129,Scoot McNairy,1977,U.S.,5
130,Callan Mulvey,1975,New Zealand,0
131,Tao Okamoto,1985,Japan,0
132,Robin Atkin Downes,1976,U.K.,0
133,Kevin Costner,1955,U.S.,15
134,Tommy Lee Jones,1946,U.S.,41
135,Gary Oldman,1958,England,28
136,Ryan Reynolds,1976,Canada,12
137,Alice Eve,1982,England,0
138,Michael Pitt,1981,U.S.,0
139,Antje Traue,1981,East Germany,0
140,Scott Adkins,1976,United Kingdom,2
141,Amaury Nolasco,1970,Puerto Rico,0
142,Colin Salmon,1962,England,0
143,Tommy Hatto,1995,United Kingdom,0
144,Robert Davi,1951,U.S.,0
145,Richard Reid,1984,England,0
146,Natalie Burn,,Ukraine,0
147,Lara Decaro,,,0
148,Zach Galifianakis,1969,U.S.,16
149,Jon Hamm,1971,U.S.,10
150,Isla Fisher,1976,Oman,4
151,Matt Walsh,1964,U.S.,0
152,Maribeth Monroe,1978,U.S.,0
153,Patton Oswalt,1969,U.S.,0
154,Kevin Dunn,1956,U.S.,0
155,Michael Liu,,,0
156,Ari Shaffir,1974,U.S.,0
157,Jona Xiao,1989,China,0
158,Bobby Lee,1971,U.S.,0
159,Henry Boston,,,0
160,Jack McQuaid,,,0
161,Chris Pine,1980,U.S.,9
162,Robin Wright,1966,U.S.,5
163,Danny Huston,1962,Italy,3
164,David Thewlis,1963,England,9
165,Connie Nielsen,1965,Denmark,0
166,Elena Anaya,1975,Spain,3
167,Lucy Davis,1973,England,0
168,Saïd Taghmaoui,1973,France,0
169,Ewen Bremner,1972,Scotland,0
170,Eugene Brave Rock,1978,Canada,0
171,Lisa Loven Kongsli,1979,Norway,0
172,Ezra Miller,1992,U.S.,5
173,Jason Momoa,1979,U.S.,0
174,Ray Fisher,1987,U.S.,0
175,J. K. Simmons,1955,U.S.,38
176,Ciarán Hinds,1953,Northern Ireland,0
177,John C. Reilly,1965,U.S.,0
178,Sarah Silverman,1970,U.S.,3
179,Jack McBrayer,1973,U.S.,1
180,Jane Lynch,1960,U.S.,0
181,Alfred Molina,1953,London,8
182,Alan Tudyk,1971,U.S.,0
183,Ed O'Neill,1946,U.S.,5
184,Flula Borg,1982,West Germany,0
185,Hamish Blake,1981,Australia,1
186,Ali Wong,1982,U.S.,0
187,GloZell Green,1972,U.S.,0
188,Timothy Simons,1978,U.S.,0
189,Ana Ortiz,1971,New York,7

Question 3: Create a readable table which presents the number of joint movies for each co-actor\actress with Gal Gadot, and a histogram which presents the distribution of joint movies (number of co-actors per number of joint movies).

In [7]:
import re
from collections import OrderedDict
import matplotlib.pyplot as plt

Scraping and saving the table of films Gal Gadot participated in from Wikipedia:

In [8]:
#Gal Gadot wikipedia page
wiki = "https://en.wikipedia.org/wiki/Gal_Gadot"
actor_page = urlopen(wiki)
actor_soup = BeautifulSoup(actor_page, "html.parser")
movies_list = actor_soup.find("table", class_="wikitable")

creating a Dictionary for all co-stars:

In [9]:
actors_dictionary = {}

loop that going throw over any movie Gal Gadot participate in. then, going throw every star in the movie and adding him to the dictionary if his not in it. if he does, changing the counter of this co-star.

In [10]:

# The main loop itarates all the movies, and filst the cast list of each movie
for _row in movies_list.find_all("tr"):
    cells = _row.find_all("td")
    if not cells:
        continue
    url = _row.find(href=True)['href']
    movie_page = urlopen("https://en.wikipedia.org" + url)
    movie_soup = BeautifulSoup(movie_page, "html.parser")
    tags_cast = movie_soup.find_all("span", string="Cast")
    if not tags_cast:
        continue
    cast_tag = tags_cast[-1]
    # this loop, find all the actors at the movie. For each actor, we find the actors name
    for actors in cast_tag.findNext("ul").select("li"):

        #actors with no link 
        if not actors.find("a"):
            name = re.split("as", actors.text)[0]
            if name not in actors_dictionary:
                actors_dictionary[name] = 0
            actors_dictionary[name] = actors_dictionary[name] + 1
            continue;
        # do not count Gal Gadot
        if actors.find("a").text == "Gal Gadot" :
            continue
        name = actors.find("a").text
        if actors.find("a").text not in actors_dictionary:
            actors_dictionary[name] = 0
        actors_dictionary[name] =actors_dictionary[name]+ 1

NameError: name 'movies_list' is not defined

creating and presenting the table:

In [ ]:
actorsDictionary = OrderedDict(sorted(actors_dictionary.items(), key=lambda x: x[1], reverse=True))

df = pd.Series(actorsDictionary).reset_index()
df.columns = ['Actor_Name', 'No. of Joint Movies']
display(df)

creating and presenting the histogram:

In [ ]:
historgram = df.groupby('No. of Joint Movies', as_index=False).count()
historgram.columns = ['No. of Joint Movies With Gal Gadot', 'No. of Actors']

plot = historgram.set_index('No. of Joint Movies With Gal Gadot').plot.bar()


plot.set_title("No. of films with Gal Gadot")
plt.xticks(rotation=0)
plt.yticks(range(0, 331, 30))
#display the hostogram
display(plt)